{% extends 'core.html' %}

{% block content %}
{% if projects %}
  <div class="container" style="width:75%">
    <div class = "row">
      {% for p in projects.all %}
        <div class="col-6 col-sm-6 col-lg-4">
        <blockquote>
          {% ifequal p.project.stage "to_be_verified" %}
             <span class="glyphicon glyphicon-flag" title="Unverified"></span>
             {% endifequal %}
            {% ifequal p.project.stage "ongoing" %}
              <span class="glyphicon glyphicon-cog" title="Ongoing" style="color:blue;"></span>
            {% endifequal %}
            {% ifequal p.project.stage "completed" %}
              <span class="glyphicon glyphicon-ok" title="Completed" style="color:green;"></span>
            {% endifequal %}
          <p>
            {{ p.project.title|truncatechars:50 }} <a class="btn btn-link" href="{% url 'view_example' p.project.id %}" role="button">Check it out »</a>
          </p>
          <small>{{p.project.student.first_name}} {{p.project.student.last_name}}</small>
        </blockquote>
        </div>
      {% endfor %}
    </div>
    </div>
{% else %}
	<center> No example projects have been added yet. </center>
{% endif %}


{% endblock %}

