{% extends 'core.html' %}
{% block content %}
<div class="container">
{% if projects %}
<h2 class="sub-header">Completed Projects</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Student Name</th>
        <th>CW Project Title</th>
        <th>NGO worked under</th>
      </tr>
    </thead>
    <tbody>
    {% for p in projects %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ p.student.first_name }}{{ p.student.last_name }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.get_NGO }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
There don't seem to be any <strong>completed</strong> projects in this year.
{% endif %}
</div>
{% endblock %}
#
student
CW title
NGO