{% extends 'core.html' %}

{% block content %}

<style>
table,th,td
{
border:1px solid black;
}
th,td
{
padding:10px;
}
</style>
<div class="container">
<table >
<a class="btn btn-warning" style="float:right;" role="button" href = "{% url 'suggest_ngo' %}">Suggest an NGO</a>
Click on the NGO for a list of students who have workied under it.
{% for n in NGOs %}
<tr>
	<td> {{forloop.counter}} </td>
	<td> {{n.name }} </td>
	<td> {{n.link }} </td>
	<td> {{n.details}} </td>
</tr>

{% empty %}
We have not verified any NGO as of now it seems..!!
{% endfor %}
</table>
</div>
{% endblock %}