{% extends 'core.html' %}
{% load bootstrap %}
{% block content %}
<div class="container">
<form action="{% url 'bugs'%}" method = "post"> {% csrf_token %}
{{ form|bootstrap_horizontal }}
<br />
<input type="submit" value="Submit" class="btn btn-warning btn-lg" style="float:right; margin-top:10px;"  />
</form>
</div>
	<div style="margin-top:25px;" align="center">
	<p><strong>You could send your feedback / suggestions directly to sambhav 13085 [at] iiitd [dot] ac [dot] in </strong></p>
	</div>
{% endblock %}