{% extends 'core.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="page-header">
            Template Files
        </h1>
        <ol>
            <li>
                Proposal Format Document: available <a
                    href="https://docs.google.com/document/d/18xFzvCosKaQiXaikbkn5TXDPYeoLqNFieluSkZIVnQ4/edit?usp=sharing"
                    target="_blank">here</a>.
            </li>
            <li>
                Report Format Document: available <a
                    href="https://docs.google.com/document/d/130Qhi3I8hmsyv6flhQIi24yroE_EylVgtIw4uXwrHeE/edit?usp=sharing"
                    target="_blank">here</a>.
            </li>
            <li>
                Procedure to use SG/CW Portal: available <a href="{% static 'documents/Procedure_SG_CW_Portal.pdf' %}"
                                                              target="_blank">here.</a>
            </li>
        </ol>

    </div>

    <div class="container">

        <h1 class="page-header">
            Guidelines
        </h1>

        <ol>
            <li>
                <strong>Self Growth: &nbsp;&nbsp;</strong><a
                    href="https://www.iiitd.ac.in/sites/default/files/docs/forms/Self%20Growth%20Guidelines.pdf"
                    target="_blank">here</a>
            </li>
            <li>
                <strong>Community Work: &nbsp;&nbsp;</strong><a
                    href="https://www.iiitd.ac.in/sites/default/files/docs/forms/CW%20%20Guidelines_Updated_SA_28.12.20.pdf"
                    target="_blank">here</a>
            </li>
        </ol>

    </div>

    {#    <div class="container">#}
    {##}
    {#        <h2 class="page-header">#}
    {#            General Instructions#}
    {#        </h2>#}
    {##}
    {#        <ol>#}
    {#            <li>#}
    {#                <strong>Registration on the SG/CW Portal</strong><br>#}
    {#                The student must register their project on the SG/CW portal as per the format. Any information which#}
    {#                could not be completely conveyed in the form must be uploaded as a 'Proposal' file in the upload files#}
    {#                section of the project in this <a#}
    {#                    href="https://docs.google.com/document/d/18xFzvCosKaQiXaikbkn5TXDPYeoLqNFieluSkZIVnQ4/edit?usp=sharing"#}
    {#                    target="_blank">format</a>. The registration for the same must be done before the add/drop date of#}
    {#                the particular semester.#}
    {#            </li>#}
    {##}
    {#            <li>#}
    {#                <strong>Proposal Approval and Registration on ERP</strong><br>#}
    {#                After submitting the proposal, the student should wait for a mail accepting their proposal before#}
    {#                starting the work. Once the proposal is accepted, the student must register Self Growth/Community Work#}
    {#                credits on ERP (applicable for 2017 and later batches) by the last date of add/drop and can continue#}
    {#                working on it during the upcoming semester until the semester ends.#}
    {#            </li>#}
    {##}
    {#            <li>#}
    {#                <strong>Weekly Log Submission</strong><br>#}
    {#                While carrying out the activity, a student has to maintain the log report for each day. The report#}
    {#                should mention the details of work done each day (hourly report), and should be submitted (after getting#}
    {#                it signed by the concerned supervisor) on weekly basis on the SG/CW portal.#}
    {#            </li>#}
    {##}
    {#            <li>#}
    {#                <strong>Work Completion</strong><br>#}
    {#                As soon as the activity is completed, a student has to obtain a completion certificate from the#}
    {#                respective organization/NGO. The certificate should have the organization stamp and contact number of#}
    {#                the person in-charge from the organization. Student is also expected to prepare a report and submit it#}
    {#                on the mentioned date which will be one week before the Self Growth/Community work presentation in the#}
    {#                format specified <a#}
    {#                    href="https://docs.google.com/document/d/130Qhi3I8hmsyv6flhQIi24yroE_EylVgtIw4uXwrHeE/edit?usp=sharing"#}
    {#                    target="_blank">here</a>.#}
    {#            </li>#}
    {#        </ol>#}
    {##}
    {#    </div>#}
    {##}
    {#    <div class="container">#}
    {##}
    {#        <h1 class="page-header">#}
    {#            Self Growth/Community Work Presentation#}
    {#        </h1>#}
    {##}
    {#        <ol>#}
    {#            <li>The report should be submitted at least a week before the day of presentation which will be held in the#}
    {#                beginning of the next semester.#}
    {#            </li>#}
    {#            <li>Together with the report, a completion certificate from the organization where he/she did the activity#}
    {#                is to be submitted on the portal.#}
    {#            </li>#}
    {#            <li>The student also has to prepare a presentation (set of 8-10 slides)/poster.</li>#}
    {#            <li>There will be a presentation every semester (during the first 2-3 weeks, as per the date specified in#}
    {#                the calendar) wherein the student has to present the activity undertaken by him/her. Below is the#}
    {#                semester wise presentation schedule that is to be followed:#}
    {#                <ol>#}
    {#                    <li>Work done in Monsoon Semester - Presentation to be done Winter Semester (as per the date#}
    {#                        specified in the calendar)#}
    {#                    </li>#}
    {#                    <li>Work done in Winter Semester - Presentation to be done Summer Term (as per the date specified in#}
    {#                        the calendar)#}
    {#                    </li>#}
    {#                    <li>Work done in Summer Term - Presentation to be done in Monsoon Semester (as per the date#}
    {#                        specified in the calendar)#}
    {#                    </li>#}
    {#                    <li>Note: In case a student fails to follow the above presentation schedule he/she has to start#}
    {#                        afresh, by submitting the proposal, taking approval and doing the work again.#}
    {#                    </li>#}
    {#                </ol>#}
    {#            </li>#}
    {#            <li>Students will also be required to submit the poster / presentation on the portal within 2 days of the#}
    {#                presentation.#}
    {#            </li>#}
    {#            <li>The report, presentation and completion certificates, all these documents are mandatory for the student#}
    {#                to be considered for evaluation.#}
    {#            </li>#}
    {#            <li>Based on the presentation student will be awarded “S-Satisfactory” or “X-Unsatisfactory”. In case of#}
    {#                failure to present the work in the subsequent semester, student will be awarded “X-Unsatisfactory”#}
    {#                grade.#}
    {#            </li>#}
    {#            <li>The earned credits will be mentioned in the final transcript.</li>#}
    {##}
    {#        </ol>#}
    {##}
    {#    </div>#}
    {##}
    {#    <div class="container">#}
    {#        <h1 class="page-header">#}
    {#            Report Structure for SG/CW Activities#}
    {#        </h1>#}
    {#        Clearly no single report structure will suit all types of work. However, some things are essential:#}
    {#        <ol>#}
    {#            <li>#}
    {#                Name, Roll Number#}
    {#            </li>#}
    {#            <li>Title of the activity, and start date and end date</li>#}
    {#            <li>Details about the Organization: Briefly explain the working of Organization - what do they do? How do#}
    {#                they sustain themselves (in terms of funding)? What is the organizational structure? How many employees?#}
    {#                What are the existing technologies currently in place? etc.#}
    {#            </li>#}
    {#            <li>Goals and achievements – In detail describe what the Organization/group wanted you to achieve during the#}
    {#                semester (if a group is formed, this will be one common document) and what you have been able to#}
    {#                achieve.#}
    {#            </li>#}
    {#            <li>Plan and adherence – how you planned to achieve the goal. This should be developed based on discussion#}
    {#                with the Organization (again for the group, this will be one common document) and how was your adherence#}
    {#                to the plan all through the activity.#}
    {#            </li>#}
    {#            <li>Weekly log – for each week, how many hours were spent, and what specific things were done in that week.#}
    {#                If you had the log on a page include the pictures of your log in your report itself. Do not create a#}
    {#                separate log file.#}
    {#            </li>#}
    {#            <li>Certificate from the organization: Include the certificate from the organization as a picture in your#}
    {#                report.#}
    {#            </li>#}
    {#            <li>Team Members: List out names of other students who also did the SG/CW with you with the same#}
    {#                Organization (for the group, list out all the group members).#}
    {#            </li>#}
    {#            <li>Scope of technology intervention: Based on your experience working with Organization and what you have#}
    {#                learned at IIIT Delhi, briefly explain how IT can play a role in improving upon the existing activities.#}
    {#                If your work involved some technology intervention, please explain how it will help the organization and#}
    {#                how will it be sustained after you finish your activity.#}
    {#            </li>#}
    {#            <li>Personal account of experiences including what transformation it has brought in your thinking.</li>#}
    {#        </ol>#}
    {#    </div>#}
    {##}
    {#    <div class="container">#}
    {#        <h1 class="page-header">#}
    {#            Frequently Asked Questions#}
    {#        </h1>#}
    {#        <ol>#}
    {#            <li>#}
    {#                <strong>When can I register for SG/CW? Only at the start of Summer/Monsoon/Winter Semester, or at any#}
    {#                    time?</strong><br>#}
    {#                The registration dates for SG or CW work will be same as Add/Drop dates as per the Academic Calendar for#}
    {#                Summer/Monsoon/Winter. No registrations will be allowed after the last date of Add/Drop as per the#}
    {#                calendar. <br>#}
    {#                The students of 2017 batch onwards have to register on ERP as well as SG/CW portal. The students of#}
    {#                batches earlier then 2017, have to register on the portal. The proposal approval status will be#}
    {#                reflected on SG/CW portal within a week’s time.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>Can I split my 80/90 hours into 40/50 each and can I do 1 credit of work in one semester and#}
    {#                    the other 1 credit in next semester?</strong><br>#}
    {#                Yes, you can split your work.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>Is it necessary to give presentation right after the semester following the completion of#}
    {#                    SG/CW work?</strong><br>#}
    {#                Poster presentation dates are notified in the Academic Calendar of each semester. It is mandatory to#}
    {#                present your work in the subsequent semester.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>Are Powerpoint presentations / slides acceptable during presentation?</strong><br>#}
    {#                No. You need to make a poster on chart paper or you can take printouts and pin them on the board. The#}
    {#                idea is to nicely present your work done. We don’t expect a fancy poster, but your presentation should#}
    {#                be informative and professional.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>Can I skip presentations?</strong><br>#}
    {#                No. It’s mandatory to present, based on which final evaluation is done. Without the presentation, your#}
    {#                SG/CW credit requirements cannot be fulfilled.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>I am not able to get a stamp on my certificate from organization.</strong><br>#}
    {#                In special cases only, we allow a student to request the organization to write a formal mail validating#}
    {#                student’s work and student is then supposed to forward the same to <a#}
    {#                    href="mailto:selfgrowth@iiitd.ac.in">selfgrowth@iiitd.ac.in</a> or <a#}
    {#                    href="mailto:communitywork@iiitd.ac.in">communitywork@iiitd.ac.in</a> (according to the activity),#}
    {#                faculty in-charge and Academic Officer in-charge.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>Can I work for an Organization outside Delhi?</strong><br>#}
    {#                Yes.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>Can I do SG or CW in Monsoon/Winter or is it only permitted in the Summer session?</strong><br>#}
    {#                There are no restrictions regarding the scheduling of SG or CW work. If you can manage the workload#}
    {#                during the regular semester, you may choose to do so. Your logs are verified against 80/90 or 40/50#}
    {#                hours requirement for 2 or 1 credits respectively.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>After approval of proposal, is there a time limit within which I need to present my SG or CW#}
    {#                    work?</strong><br>#}
    {#                Please see Q3 in this FAQ.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>When is the latest semester when I can present my SG or CW work?</strong><br>#}
    {#                If you wish to graduate in June, you should have presented your work in the preceding Winter semester#}
    {#                (i.e., your 8th semester). Therefore, you need to plan accordingly and submit your SG/CW proposal at the#}
    {#                commencement of your 7th semester. There will be only one presentation in a semester, typically#}
    {#                scheduled in the first month (as notified in the Academic Calendar).#}
    {#            </li>#}
    {#        </ol>#}
    {#    </div>#}
    {##}
    {#    <div class="container">#}
    {#        <h1 class="page-header">#}
    {#            FAQ Specific to CW#}
    {#        </h1>#}
    {#        <ol>#}
    {#            <li>#}
    {#                <strong>Do I have to work with an organisation/NGO? Can’t I do some online course related to#}
    {#                    community or teach students for free?</strong><br>#}
    {#                The goal of this compulsory course is to have practical experience of working with the community which#}
    {#                isn’t achievable by doing online course. As per the report format provided by the institute, you are#}
    {#                required to mention in detail about the organisation/NGO you worked with and also ask for the weekly#}
    {#                logs.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>Is there a list of NGOs through which I can complete my CW requirements?</strong><br>#}
    {#                Visit the portal and there you can see list of registered NGOs and also the example CW project reports#}
    {#                for reference. In case your NGO is not listed, the respective TA will check it and verify your proposal.#}
    {#            </li>#}
    {#            <li>#}
    {#                <strong>Would my work at the summer school in IIITD count toward CW credits?</strong><br>#}
    {#                Yes.#}
    {#            </li>#}
    {#        </ol>#}
    {#    </div>#}

    <div class="container">
        <h2 class="page-header">
            Admin Contact
        </h2>
        <ol>
            <li><strong>Self Growth</strong>
                <br>
                <strong>Faculty In-charge:&nbsp;&nbsp;</strong>Dr Anuj Grover&nbsp;&nbsp;&nbsp;<a
                        href="mailto:anuj@iiitd.ac.in"><i
                        class="fa fa-envelope"></i></a>
                <br>
                <strong>Academic Officer In-charge:&nbsp;&nbsp;</strong>Ms. Anshu Dureja&nbsp;&nbsp;&nbsp;<a
                        href="mailto:anshu@iiitd.ac.in"><i
                        class="fa fa-envelope"></i></a>
                <br>
                <strong>SG Admin:&nbsp;&nbsp;</strong><a href="mailto:selfgrowth@iiitd.ac.in"><i
                        class="fa fa-envelope"></i></a>
            </li>
            <li><strong>Community Work</strong>
                <br>
                <strong>Faculty In-charge:&nbsp;&nbsp;</strong>Dr. Pravesh Biyani&nbsp;&nbsp;&nbsp;<a
                        href="mailto:praveshb@iiitd.ac.in"><i
                        class="fa fa-envelope"></i></a>
                <br>
                <strong>Academic Officer In-charge:&nbsp;&nbsp;</strong>Ms. Nisha Narwal&nbsp;&nbsp;&nbsp;<a
                        href="mailto:nisha@iiitd.ac.in"><i
                        class="fa fa-envelope"></i></a>
                <br>
                <strong>CW Admin:&nbsp;&nbsp;</strong><a href="mailto:communitywork@iiitd.ac.in"><i
                        class="fa fa-envelope"></i></a>
            </li>
        </ol>
    </div>

{% endblock %}
