{% extends 'core.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="page-header">
            Template Files
        </h1>
        <ol>
            <li>
                Proposal Format Document: available <a
                    href="https://docs.google.com/document/d/18xFzvCosKaQiXaikbkn5TXDPYeoLqNFieluSkZIVnQ4/edit?usp=sharing" target="_blank">here</a>.
            </li>
            <li>
                Report Format Document: available <a
                    href="https://docs.google.com/document/d/130Qhi3I8hmsyv6flhQIi24yroE_EylVgtIw4uXwrHeE/edit?usp=sharing" target="_blank">here</a>.
            </li>
            <li>
                Demo to add a new SG/CW Proposal: will be available soon.
            </li>
        </ol>

    </div>
    <div class="container">

        <h1 class="page-header">
            <strong>Self Growth</strong> Guidelines
        </h1>
        <ol>
            <li>Self Growth (SG) is a 2 credit activity and the student is expected to complete <strong>80
                hours</strong> of work in it.
            </li>

            <li>The student first needs to decide an activity which he/she needs to learn.
            </li>
            <li>
                Please use the submission instructions below for further steps.
            </li>
        </ol>
    </div>

    <div class="container">
        <h1 class="page-header">
            <strong>Community Work</strong> Guidelines
        </h1>
        <ol>
            <li>Community Work (CW) is a 2 credit activity and the student is expected to complete <strong>80
                hours</strong> of work in it.
            </li>

            <li>The student first needs to find an organisation to work with. The student should decide whether he/she
                might be working with an NGO or working on something of their own in a group under the guidance of a
                faculty.
            </li>
            <li>
                After discussing with the concerned organisation, the student must add their project in this portal.
            </li>
            <li>
                Please use the submission instructions below for further steps.
            </li>
        </ol>
    </div>

    <div class="container">
        <h1 class="page-header">
            Submission Instructions
        </h1>
        <ol>
            <li>
                The student must add their project in this portal. Any information which could not be completely
                conveyed in the form must be uploaded as a <strong>Proposal</strong> file in the documents of the
                project on the portal.
            </li>
            <li>
                After submitting the proposal, the student should wait for a mail accepting their proposal before
                starting the work. Once the proposal is accepted, the student can continue working on it until he/she
                has completed the required number of hours. Meanwhile, the student needs to keep uploading the logs
                (signed by the supervisor) as <strong>Logs</strong> file in the documents of the project on the portal.
            </li>

            <li>
                After completion the student is expected to prepare a report in the format specified here. The report
                should be submitted within one year of acceptance of the proposal, failing which the student has to
                start afresh, from submitting the proposal. The report must be uploaded as a <strong>Final
                Report</strong> file in the documents of the project on the portal.
            </li>
            <li>
                Together with the report, a completion certificate from the organization where he/she did the SG/CW
                activity is to be submitted as <strong>Certificate</strong> file in the documents of the project on the
                portal.
            </li>

            <li>
                The student also has to prepare a poster (or slide-deck of 8-10 slides). There will be a poster session
                every
                semester (during the first 2-3 weeks) wherein the student has to present the activity undertaken by
                him/her. The poster/presentation must be uploaded as a <strong>Presentation/Poster</strong> file in the
                documents of the project on the portal.
            </li>

            <li>
                All of report, poster and completion certificate are necessary for the student to be considered for
                evaluation. The earned credits will occur as a note in the final the transcript.
            </li>
        </ol>
    </div>
{% endblock %}