{% extends 'core.html' %}

{% block content %}
<div class="container">
<ol>
<li>Community Work (CW) is a 2 credit activity and the student is expected to complete 8o hours of work in it.</li>

<li>The student first needs to find an organisation to work with. The student should decide whether he/she might be working with an NGO or working on something of their own in a group under the guidance of a faculty.</li>
<li>
After discussing with the concerned organisation, the student has to mail a proposal to communitywork@iiitd.ac.in to get it approved and fill in a form(Format available here).</li>
<li>After submitting the proposal, the student should ensure that their proposal has been accepted before starting the work. Once the proposal is accepted, the student can continue working on it until he/she has completed the required number of hours. Meanwhile, the student needs to keep submitting the logs (signed by the supervisor) to communitywork@iiitd.ac.in.</li>

<li>After completion the student is expected to prepare a report in the format specified and fill in a form. The report should be submitted within one year of acceptance of the proposal, failing which the student has to start afresh, from submitting the proposal. Together with the report, a completion certificate from the organization where he/she did the CW activity is to be submitted.</li>

<li>The student also has to prepare a poster (or set of 8-10 slides) with specified format. There will be a poster session every semester (during the first 2-3 weeks) wherein the student has to  present the activity undertaken by him/her.</li>

<li>All of report, poster and completion certificate are necessary for the student to be considered for evaluation. The earned credits will occur as a note in the final the transcript.</li>
</ol>
</div>
{% endblock %}