{% extends 'core.html' %}
{% load bootstrap %}
{% block content %}
<script type="text/javascript">
	window.onload = function(){
		$(".help-block").fadeOut(0);
		$("#id_NGO_super_contact").on('input paste', function(){
			$(".help-block").css('color', 'blue');
			$(".help-block").fadeIn(500);
		})
	}
</script>
<div class="container" style="width:60%">
  <div class="row">
  	<div class="span12">
  	<ul class="nav nav-tabs nav-justified" role="tablist">
  	<li class="active"><a href="#1" role="tab" data-toggle="tab">
  		Basic Information
  	</a>
  	<li><a href="#2" role="tab" data-toggle="tab">
  		More Information
  	</a>	
  	</ul>
		<form action="/student/add/" method="POST" class="form" role="form"> {% csrf_token %}
		  	<div class="tab-content">

			<div class="tab-pane fade in active" id="1">
			<br />
			{{ form.title|bootstrap }}
			{{ form.credits|bootstrap }}
			{{ form.NGO_name|bootstrap }}
			{{ form.NGO_details|bootstrap }}
			{{ form.NGO_super|bootstrap }}
			{{ form.NGO_super_contact|bootstrap }}
			</div>
			<div class="tab-pane fade in" id="2">
			<br />
			{{ form.goals|bootstrap }}
			{{ form.schedule_text|bootstrap }}
			{{ form.category|bootstrap }}

			<input type='submit' style="float:right;" class="btn btn-info btn-lg" value='Start Project' />
			</div>
			</div>
		</form>
</div>
</div>
</div>
{% endblock %}