{% extends 'core.html' %}

{% block content %}
    <h3 class="page-header" style="text-align: center; font-weight: bold">
        {{ user.first_name }} {{ user.last_name }}
    </h3>
    {% if allow_project_flag %}
        <div align="center">
            <a class="btn btn-info btn-lg " role="button" href="{% url 'addproject' %}" style="margin-bottom:10px;">Add
                New Project</a><br/><br/>
        </div>
    {% endif %}
    {% if projects %}
        <div class="container">
            <div class="row">
                {% for p in projects.all %}
                    <div class="col-6 col-sm-6 col-lg-4">
                        <blockquote>
                            {% ifequal p.stage stages.TO_BE_VERIFIED %}
                                <span class="glyphicon glyphicon-flag" title="Unverified" style="color:red;"></span>
                            {% endifequal %}
                            {% ifequal p.stage stages.ONGOING %}
                                <span class="glyphicon glyphicon-cog" title="Ongoing" style="color:blue;"></span>
                            {% endifequal %}
                            {% ifequal p.stage stages.SUBMITTED %}
                                <span class="glyphicon glyphicon-cog" title="Submitted" style="color:green;"></span>
                            {% endifequal %}
                            {% ifequal p.stage stages.COMPLETED %}
                                <span class="glyphicon glyphicon-ok" title="Completed" style="color:green;"></span>
                            {% endifequal %}
                            <p>
                                <a href="{% url 'viewproject' p.id %}"
                                   style="text-decoration:none;">{{ p.title|truncatechars:100 }}</a>
                            </p>
                            <p style="color: gray; font-style: italic;">{{ p.category }}</p>
                            <p style="color: gray; font-style: italic;">{{ p.semester }}</p>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <center> You have not started any SG / CW Project yet.</center>
    {% endif %}


{% endblock %}