{% extends 'core.html' %}

{% block content %}

<center> <h3> {{ user.first_name }} {{ user.last_name }} </h3></center> 

<hr />
<span style="margin-left:8.5%;" ><a class="btn btn-warning" role="button"  href = "{% url 'addproject' %}">Add new project</a></span>
{% if projects %}
	

    <div class = "row">
    {% for p in projects.all %}
      <div class="{% cycle 'col-sm-6 col-md-3 col-md-offset-1' 'col-sm-6 col-md-3' 'col-sm-6 col-md-3' %}">
      	<p> <span class="badge" style="float:right;">  {{p.student.first_name}} {{p.student.last_name}} </span></p>
      	<div class="thumbnail">
        	<div class="caption">
      		<h3>
      		  {% ifequal p.stage "to_be_verified" %}
		      <span class="glyphicon glyphicon-flag" title="Unverified"></span>
		      {% endifequal %}
		      {% ifequal p.stage "ongoing" %}
		      <span class="glyphicon glyphicon-cog" title="Ongoing"></span>
		      {% endifequal %}
		      {% ifequal p.stage "completed" %}
		      <span class="glyphicon glyphicon-ok" title="Completed"></span>
		      {% endifequal %}
     		 <a href="{% url 'viewproject' p.id %}">{{ p.title|truncatechars:20 }}</a></h3>
      		  </div>
        <p>{{ p.goals|truncatechars:50 }}</p>
      </div>
    </div>
    {% endfor %}
    </div>

{% else %}
	<center> You have not done any CW Project yet. </center>
{% endif %}


{% endblock %}

