{% extends 'core.html' %}

{% block content_start %}
<div align="center">
<div class="well" align="justify" style="width:75%;">
Community Work provides students broader connect with society and self. At IIIT Delhi, students have to do minimum 80 hours of Community Work. This activity teaches students about their rights and responsibilities as citizens, and their ability to bring about meaningful change through advocacy and service. It enables students to help to apply skills and content knowledge to real needs in their local community.
</div>
</div>
{% endblock %}