{% extends 'core.html' %}

{% block content %}

    <div class="container">
    <br />
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Sticky links</button>
          </p>
          <div class="jumbotron">
            <h1>Community Work @ IIITD</h1>
            <p class="lead">Community Work provides students broader connect with society and self. At IIIT Delhi, students have to do minimum 80 hours of Community Work. This activity teaches students about their rights and responsibilities as citizens, and their ability to bring about meaningful change through advocacy and service. It enables students to help to apply skills and content knowledge to real needs in their local community.</p>
          </div>

            <div class="panel panel-info">
              <div class="panel-body">
                <div class="row">
                  <div class='col-lg-2'>
                    <div align="center">
                      <h1><span class="glyphicon glyphicon-exclamation-sign" style="color:purple;"></span></h1>
                      <h2>Propose</h2>
                    </div>
                  </div>
                  <div class='col-lg-1'>
                    <div align="center">
                      <h1><span class="glyphicon glyphicon-arrow-right" style="color:blue;"></span></h1>
                    </div>
                  </div>
                  <div class='col-lg-3'>
                    <div align="center">
                      <h1><span class="glyphicon glyphicon-tree-conifer" style="color:green;"><span class="glyphicon glyphicon-tree-deciduous" style="color:green;"><span class="glyphicon glyphicon-tree-conifer" style="color:green;"></span></h1>
                      <h2>Work</h2>
                    </div>
                  </div>
                  <div class='col-lg-1'>
                    <div align="center">
                      <h1><span class="glyphicon glyphicon-arrow-right" style="color:blue;"></span></h1>
                    </div>
                  </div>
                  <div class='col-lg-2'>
                    <div align="center">
                      <h1><span class="glyphicon glyphicon-ok" style="color:red;"></span></h1>
                      <h2>Complete</h2>
                    </div>
                  </div>
                  <div class='col-lg-1'>
                    <div align="center">
                      <h1><span class="glyphicon glyphicon-arrow-right" style="color:blue;"></span></h1>
                    </div>
                  </div>
                  <div class='col-lg-2'>
                    <div align="center">
                      <h1><span class="glyphicon glyphicon-repeat" style="color:orange;"></span></h1>
                      <h2>Repeat</h2>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          {% if example_projects.all %}
            <div class="panel panel-primary">
            <div class="panel-heading"><h3><a href="{% url 'student_all_examples' %}" class="panel-title">All example projects</a></h3>
            </div>
          <div class="panel-body">
          <div class="row">
            {% for p in example_projects.all %}
            <div class="col-6 col-sm-6 col-lg-4">
            <blockquote>
              {% ifequal p.project.stage "to_be_verified" %}
                 <span class="glyphicon glyphicon-flag" title="Unverified" style="color:red;"></span>
                 {% endifequal %}
                {% ifequal p.project.stage "ongoing" %}
                  <span class="glyphicon glyphicon-cog" title="Ongoing" style="color:blue;"></span>
                {% endifequal %}
                {% ifequal p.project.stage "completed" %}
                  <span class="glyphicon glyphicon-ok" title="Completed" style="color:green;"></span>
                {% endifequal %}
              <p>
                {{ p.project.title|truncatechars:50 }}<a class="btn btn-link" href="{% url 'view_example' p.project.id %}">Check it out »</a>
              </p>
              <small>{{p.project.student.first_name}} {{p.project.student.last_name}}</small>
              <p> <a href="{% url 'view_example' p.pk %}"><span class="glyphicon glyphicon-heart" style="color:red;"></span> {{ p.likes_count }}
                <span class="pull-right"><span class="glyphicon glyphicon-comment" style="color:purple;"></span> {{ p.comments_count }}</span></a>
              </p>
            </blockquote>
    				</div>
            {% endfor %}
          </div><!--/row-->
          </div>
          </div>
          {% endif %}
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
          <center><span class="list-group-item active">Sticky Links</span></center>
            <a href="{% url 'guidelines' %}" class="list-group-item">Guidelines</a>
            <a href="{% url 'all_NGO' %}" class="list-group-item">Some NGOs</a>
            <a href="{% url 'all_projects_open_to_public_year_select' %}" class="list-group-item"> All Completed Projects </a>
            <a href="mailto: communitywork@iiitd.ac.in" class="list-group-item"> Contact us </a>
          </div>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="news_sidebar" role="navigation">
          <center><span><a href="{% url 'student_view_news' 0 %}" class="list-group-item active">All Announcements</a></span></center>
          <div class="list-group">
            {% for n in news %}
            <a href="{% url 'student_view_news' n.id %}" class="list-group-item">{{ n.content|truncatechars:75 }}</a>
            {% empty %}
            <span class="list-group-item"><center>No new announcements.</center></span>
            {% endfor %}
          </div>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="leaderboard_sidebar" role="navigation">
          <center><span class="list-group-item active">Leaderboard</span></center>
          <div class="list-group">
            {% for example in leaderboard %}
            <div class="clearfix">
              <a href="{% url 'view_example' example.pk %}" class="list-group-item">
              {{ example.project.title|truncatechars:50 }}
                <div class="pull-right">
                  {{example.likes_count}} <span class="glyphicon glyphicon-heart" style="color:red;"></span>
                </div>
              </a>
            </div>
            {% empty %}
            <span class="list-group-item"><center>No Example Projects</center></span>
            {% endfor %}
          </div>
        </div><!--/span-->

      </div><!--/row-->

      </div><!--/.container-->
{% endblock %}