{% extends 'core.html' %}
{% block content %}
<div class="container">
{% if project.NGO %}
You have linked your community work with this recognised NGO: <strong>{{ project.NGO.name }}</strong>
<br /> <strong>In case its incorrect, select one of the recognized NGOs. If your NGO is not listed, simply let it be unassigned and <a href = "{% url 'viewproject' project.pk %}">go back to your project.</a></strong>
<br /> Please <a href="{% url 'unlink_ngo_project' project.id %}">click here</a> to remove your link with this NGO.
{% else %}
You have currently not linked your project with any recognised NGO.<br /> Select a NGO from the listed recognised NGOs, <strong>only if applicable, or simply leave this and <a href = "{% url 'viewproject' project.pk %}">go back to your project</a>.</strong>
{% endif %}
<hr />

<center><h2>Recognised NGOs</h2></center>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>NGO Name</th>
        <th>NGO Link</th>
        <th>Assosciate with this NGO</th>
      </tr>
    </thead>
    <tbody>
    {% for n in NGOs %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ n.name|truncatechars:"100" }}</td>
        <td>{{ n.details|truncatechars:"100" }}</td>
        <td>
        {% ifequal project.NGO.pk n.pk %}
        <span style="align:center; color:grey;" class="glyphicon">Associated</span> 
        {% else %}
        <a href="{% url 'link_NGO_project' n.id project.id %}"><span style="align:center; color:purple;" class="glyphicon glyphicon-tags"></span></a>
        {% endifequal %}
        </td>
      </tr>
    {% empty %}
    <tr>
    	<td> - </td>
    	<td>There are no Recognised NGOs at the moment.</td>
    	<td> - </td>
    	<td> - </td>
	</tr>
	{% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}