{% extends 'core.html' %}
{% load bootstrap %}
{% block content %}
    <div class="container">
        <center>
            <h2>
                {% ifequal project.project.stage stages.TO_BE_VERIFIED %}
                    <span class="glyphicon glyphicon-flag" title="Unverified" style="color:red"></span>
                {% endifequal %}
                {% ifequal project.project.stage stages.ONGOING %}
                    <span class="glyphicon glyphicon-cog" title="Ongoing" style="color:blue"></span>
                {% endifequal %}
                {% ifequal project.project.stage stages.COMPLETED %}
                    <span class="glyphicon glyphicon-ok" title="Completed" style="color:green"></span>
                {% endifequal %}
                {{ project.project.title }}
            </h2>
        </center>
        <h2>Credits: </h2>
        <blockquote>
            {{ project.project.credits }}
        </blockquote>
        <h2>Date created: </h2>
        <blockquote>
            {{ project.project.date_created|date:"D, d M Y" }}
        </blockquote>
        <h2>Goals: </h2>
        <blockquote>
            {{ project.project.goals }}
        </blockquote>
        <h2>Schedule: </h2>
        <blockquote>
            {{ project.project.schedule_text }}
        </blockquote>
        <h2>NGO:</h2>
        <blockquote>
            {{ project.project.get_NGO }}
        </blockquote>
        <h2>Supervisor: </h2>
        <blockquote>
            {{ project.project.NGO_super }}
        </blockquote>
        <h2>Supervisor contact information: </h2>
        <blockquote>
            {{ project.project.NGO_super_contact }}
        </blockquote>
        <h2>Category</h2>
        <blockquote>
            {{ project.project.category.name }}
        </blockquote>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {{ project.likes_count }} <span class="glyphicon glyphicon-heart"
                                                    style="color:white;margin-right:20px;"></span>
                    {{ project.comments_count }} <span class="glyphicon glyphicon-comment" style="color:white;"></span>
                    {% if liked %}
                        <a href="{% url 'unlike_project' project.pk %}" class="pull-right">Unlike this project</a>
                    {% else %}
                        <a href="{% url 'like_project' project.pk %}" class="pull-right">Like this project</a>
                        </a>
                    {% endif %}
                </h1>
            </div>
            <div class="panel-body" style="line-height:200%">
                <div class="well well-lg clearfix">
                    <form action="{% url 'add_comment' project.pk %}" method="post"> {% csrf_token %}
                        {{ form|bootstrap_horizontal }}
                        <br/>
                        <input type="submit" value="Add comment" class="btn btn-info pull-right"
                               style="margin-right:20px; margin-top:10px;"/>
                    </form>
                </div>
                {% for comment in project.comments.all %}
                    <div class="clearfix" style="line-height:100%">
                        <strong>{{ comment.commentor.first_name }} {{ comment.commentor.last_name }}
                            : </strong> {{ comment.text }}
                        {% ifequal user comment.commentor %}
                            <a href="{% url 'delete_comment' comment.pk %}"><span
                                    class="glyphicon glyphicon-trash pull-right"
                                    style="color:red; left-margin:10px;"></span></a>
                        {% endifequal %}
                    </div><br/>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}