{% extends 'core.html' %}

{% block content %}

	<center>
		{{ project.title }}
	</center>
		<h2>Goals: </h2>
		{{ project.goals}}
	<h2>Schedule: </h2>
		{{ project.schedule_text }}
	<h2>
		NGO:
	</h2>
	{{ project.NGO_name }}
	<a href="{% url 'view_project_NGO' project.id %}">Change NGO details</a>

<hr />
<a class="btn btn-warning" role="button"  href = "{% url 'editproject' project.id %}">Edit CW project details</a>
<a class="btn btn-primary" role="button"  href = "{% url 'upload_document' project.id %}">Upload files</a>
{% ifequal project.stage "completed" %}{% if project.feedback.all %}{% else %}
<a class="btn btn-info" href="{% url 'feedback' project.id %}" role="button">Give feedback»</a>
{% endif %}{% endifequal %}

	<center><h3>Documents</h3></center>
	{% if project.documents.all %}
	{% for doc in project.documents.all %}
		<strong>{{ doc.category }}: </strong>
		<a href = "{% url 'download_document' doc.pk %}">
		{{ doc.name }}</a>
		<br />
	{% endfor %}
	{% else %}
		No logs uploaded till now
	{% endif %}

{% endblock %}