{% extends 'core.html' %}

{% block content %}
<div class="container">
	<center>
		<h2>
		{% ifequal project.stage "to_be_verified" %}
         <span class="glyphicon glyphicon-flag" title="Unverified" style="color:red"></span>
         {% endifequal %}
        {% ifequal project.stage "ongoing" %}
          <span class="glyphicon glyphicon-cog" title="Ongoing" style="color:blue"></span>
        {% endifequal %}
        {% ifequal project.stage "completed" %}
          <span class="glyphicon glyphicon-ok" title="Completed" style="color:green"></span>
        {% endifequal %}
        {{ project.title }}
        </h2>
	</center>
		<h2>Credits: </h2>
		<blockquote>
			{{ project.credits}}
		</blockquote>
		<h2>Date created: </h2>
		<blockquote>
			{{ project.date_created|date:"D, d M Y"}}
		</blockquote>
		<h2>Goals: </h2>
		<blockquote>
			{{ project.goals}}
		</blockquote>
		<h2>Schedule: </h2>
		<blockquote>
			{{ project.schedule_text }}
		</blockquote>
		<h2>NGO:</h2>
		<blockquote>
			{{ project.get_NGO }}
			<p><a href="{% url 'view_project_NGO' project.id %}">Change NGO details</a></p>
		</blockquote>
		<h2>NGO details: </h2>
		<blockquote>
			{{ project.NGO_details}}
		</blockquote>
		<h2>Supervisor: </h2>
		<blockquote>
			{{ project.NGO_super}}
		</blockquote>	
		<h2>Supervisor contact information: </h2>
		<blockquote>
			{{ project.NGO_super_contact}}
		</blockquote>	
		<h2>Category</h2>
		<blockquote>
		{{ project.category.name }}
		</blockquote>
	<h2>Documents:</h2>
	<blockquote>
		{% if project.documents.all %}
		{% for doc in project.documents.all %}
			<div class="modal fade" id="confirm_delete_document_{{ doc.pk }}_modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="ModalLabel">Delete Document</h4>
			      </div>
			      <div class="modal-body">
			        Are you sure you want to delete {{ doc.name }}? This action is irrevocable.
			      </div>
			      <div class="modal-footer">
				      <a class="btn btn-danger" href="{% url 'delete_document' doc.pk %}" role="button">Delete</a>
			      </div>
			    </div>
			  </div>
			</div>

			<strong>{{ doc.category }}: </strong>
			<a href = "{% url 'download_document' doc.pk %}">
			{{ doc.name }}</a>
			&nbsp;
			<button class="btn-link glyphicon glyphicon-remove" style="color:red" data-toggle="modal" data-target="#confirm_delete_document_{{ doc.pk }}_modal"></button>
			<br />
		{% endfor %}
		{% else %}
			No documents uploaded till now.
		{% endif %}
	</blockquote>
	<hr />

<a class="btn btn-warning" role="button"  href = "{% url 'editproject' project.id %}">Edit CW project details</a>
<a class="btn btn-primary" role="button"  href = "{% url 'upload_document' project.id %}">Upload files</a>
{% ifequal project.stage "completed" %}{% if project.feedback.all %}{% else %}
<a class="btn btn-info" href="{% url 'feedback' project.id %}" role="button">Give feedback»</a>
{% endif %}{% endifequal %}
<div class="modal fade" id="confirm_delete_project_modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">Delete Project</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your CW Project "{{ project.title }}"? This action is irrevocable.
      </div>
      <div class="modal-footer">
	      <a class="btn btn-danger" href="{% url 'delete_project' project.id %}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-danger" data-toggle="modal" data-target="#confirm_delete_project_modal" >Delete this project</button>

</div>
{% endblock %}