{% extends 'core.html' %}

{% block content %}
    <div class="container">
        <center>
            <h2>
                {% ifequal project.stage stages.TO_BE_VERIFIED %}
                    <span class="glyphicon glyphicon-flag" title="Unverified" style="color:red"></span>
                {% endifequal %}
                {% ifequal project.stage stages.ONGOING %}
                    <span class="glyphicon glyphicon-cog" title="Ongoing" style="color:blue"></span>
                {% endifequal %}
                {% ifequal project.stage stages.SUBMITTED %}
                    <span class="glyphicon glyphicon-cog" title="Submitted" style="color:green"></span>
                {% endifequal %}
                {% ifequal project.stage stages.COMPLETED %}
                    <span class="glyphicon glyphicon-ok" title="Completed" style="color:green"></span>
                {% endifequal %}
                {{ project.title }}
            </h2>
        </center>

        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h2>Credits: </h2>
                <blockquote>
                    {{ project.credits }}
                </blockquote>
                <h2>Status</h2>
                <blockquote>
                    {{ project.get_project_status }}
                </blockquote>
                <h2>Date created: </h2>
                <blockquote>
                    {{ project.date_created|date:"D, d M Y" }}
                </blockquote>
                <h2>NGO:</h2>
                <blockquote>
                    {{ project.get_NGO|safe }}
                    <p><a href="{% url 'view_project_NGO' project.id %}">Change NGO details</a></p>
                </blockquote>
                <h2>NGO details: </h2>
                <blockquote>
                    {{ project.NGO_details }}
                </blockquote>
                <h2>Supervisor: </h2>
                <blockquote>
                    {{ project.NGO_super }}
                </blockquote>
                <h2>Supervisor contact information: </h2>
                <blockquote>
                    {{ project.NGO_super_contact }}
                </blockquote>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
                 style="border-radius:25px; border: 3px solid #F0F0F0; padding: 20px;">
                {% for stage in project_graph %}
                    <h1>
                        <span class="glyphicon glyphicon-{{ stage.stage_glyphicon }}"
                              style="margin-right:10px; color:{% if stage.stage_cleared %}green{% else %}red{% endif %};"></span>
                        <span style="font-size:24px;">
		      		{% ifequal project.get_project_status stage.stage_name %}
                        <strong>
                    {% endifequal %}
                            {{ stage.stage_name }}
                            {% ifequal project.get_project_status stage.stage_name %}
                                </strong>
                            {% endifequal %}
	      		</span>
                    </h1>
                    {{ stage.info }}
                {% endfor %}
                <hr/>
                <h1>
                    <span class="glyphicon glyphicon-facetime-video"
                          style="margin-right:25px; color:{% if project.presented %}green{% else %}red{% endif %};"></span>
                    <span style="font-size:24px;">
	      		{% if project.presented %}P{% else %}Not p{% endif %}resented
	      	</span>
                </h1>
            </div>
        </div>
        <h2>Goals: </h2>
        <blockquote>
            {{ project.goals|linebreaksbr }}
        </blockquote>
        <h2>Schedule: </h2>
        <blockquote>
            {{ project.schedule_text|linebreaksbr }}
        </blockquote>
        <h2>Category</h2>
        <blockquote>
            {{ project.category.name }}
        </blockquote>
        <h2>Presented</h2>
        <blockquote>
            {% if project.presented %} Yes {% else %} No {% endif %}
        </blockquote>
        <h2>Documents:</h2>
        <blockquote>
            {% if project.documents.all %}
                {% for doc in project.documents.all %}
                    <div class="modal fade" id="confirm_delete_document_{{ doc.pk }}_modal" tabindex="-1" role="dialog"
                         aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="ModalLabel">Delete Document</h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{ doc.name }}?
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" href="{% url 'delete_document' doc.pk %}" role="button">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <strong>{{ doc.get_current_document_type }}: </strong>
                    <a href="{% url 'download_document' doc.pk %}" target="_blank">
                        {{ doc.name }}</a>
                    &nbsp;
                    <button class="btn-link glyphicon glyphicon-remove" style="color:red" data-toggle="modal"
                            data-target="#confirm_delete_document_{{ doc.pk }}_modal"></button>
                    <br/>
                {% endfor %}
            {% else %}
                No documents uploaded till now.
            {% endif %}
        </blockquote>
        <h2>View revision history:</h2>
        <blockquote>
            {% if project.edits.all %}
                {% for edit in project.viewable_edits %}

                    <div class="modal fade" id="project_edit_{{ forloop.counter }}_modal" tabindex="-1" role="dialog"
                         aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="ModalLabel">Edit history</h4>
                                </div>
                                <div class="modal-body">
                                    {% for edit_part in edit.diff_html %}
                                        <strong>{{ edit_part.label }}:</strong>
                                        <div class="well">
                                            {{ edit_part.content|safe }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    Edited on {{ edit.when }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" data-toggle="modal"
                       data-target="#project_edit_{{ forloop.counter }}_modal">{{ edit.when }}</a>
                    <br/>
                {% endfor %}
            {% else %}
                No edits made to the details until now.
            {% endif %}
        </blockquote>

        <hr/>

        <a class="btn btn-warning" role="button" href="{% url 'editproject' project.id %}">Edit CW project details</a>
        <a class="btn btn-primary ajaxify-btn" role="button" data-link="{% url 'upload_document' project.id %}">Upload
            files</a>
        <a class="btn btn-info" role="button" href="{% url 'submitproject' project.id %}">Submit Project</a>
        {% ifequal project.stage stages.COMPLETED %}{% if project.feedback.all %}{% else %}
            <a class="btn btn-info" href="{% url 'feedback' project.id %}" role="button">Give feedback</a>
        {% endif %}{% endifequal %}
        <div class="modal fade" id="confirm_delete_project_modal" tabindex="-1" role="dialog"
             aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="ModalLabel">Delete Project</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your Project "{{ project.title }}"? Reversing this action
                        needs permission from the TA.
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href="{% url 'delete_project' project.id %}" role="button">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-danger" data-toggle="modal" data-target="#confirm_delete_project_modal">Delete this
            project
        </button>

    </div>
{% endblock %}