import firebase_admin
from firebase_admin import credentials
from firebase_admin import db

STATISTICS_FOLDER_NAME = ''

FULL_USERS = ['myemail@domain.com']
SG_USERS = ['myemail@domain.com']
CW_USERS = ['myemail@domain.com']

ADMIN_RECIPIENTS = ['myemail@domain.com']

EMAIL_SG_USER = None
EMAIL_SG_PASSWORD = None

EMAIL_CW_USER = None
EMAIL_CW_PASSWORD = None

# Specific to Lost & Found portal
LnF404_token = ''
LnF404_url = 'http://my404website.com/'
SECRET_KEY = ''
LnF404_SiteID = 2

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = ''
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = ''


def init_firebase_keys():
    global EMAIL_CW_PASSWORD, EMAIL_CW_USER, EMAIL_SG_PASSWORD, EMAIL_SG_USER
    cred = credentials.Certificate('firebase-keys-file.json')

    firebase_admin.initialize_app(cred, {
        'databaseURL': 'https://my-firebase-database.firebaseio.com/'
    })

    ref = db.reference('/')
    sg_snapshot = ref.child('sg').get()
    cw_snapshot = ref.child('cw').get()
    for key, val in sg_snapshot.items():
        if str(key).strip() == 'email':
            EMAIL_SG_USER = str(val)
        elif str(key).strip() == 'pass':
            EMAIL_SG_PASSWORD = str(val)
        for key, val in cw_snapshot.items():
            if str(key).strip() == 'email':
                EMAIL_CW_USER = str(val)
            elif str(key).strip() == 'pass':
                EMAIL_CW_PASSWORD = str(val)

