Django
PyJWT
argparse
django-allauth
setuptools
django-bootstrap-form
django-bootstrap3-form
djrill
oauthlib
pygal
python-memcached
python-openid
python-social-auth
requests
requests-oauthlib
social_auth_app_django
six
# wsgiref==0.1.2
xlwt
social-auth-app-django
mysqlclient