{% extends 'supervisorcore.html' %}
{% load bootstrap %}
{% block content %}

    <h3>Create New Semester</h3>

    <form action="{% url 'create_new_semester' %}" method="post">
        {% csrf_token %}

        <label for="sem_type">Select Semester Type: </label>

        <select name="sem_type" id="sem_type">
            <option value="monsoon">Monsoon</option>
            <option value="monsoon">Winter</option>
            <option value="monsoon">Summer</option>
        </select>

        <br>

        <label for="year">Select Year: </label>

        <select name="year" id="year">
            <option value="monsoon">2020</option>
            <option value="monsoon">2021</option>
            <option value="monsoon">2022</option>
            <option value="monsoon">2023</option>
            <option value="monsoon">2024</option>
            <option value="monsoon">2025</option>
            <option value="monsoon">2026</option>
            <option value="monsoon">2027</option>
            <option value="monsoon">2028</option>
            <option value="monsoon">2029</option>
            <option value="monsoon">2030</option>
            <option value="monsoon">2031</option>
            <option value="monsoon">2032</option>
            <option value="monsoon">2033</option>
            <option value="monsoon">2034</option>
            <option value="monsoon">2035</option>
            <option value="monsoon">2036</option>
            <option value="monsoon">2037</option>
            <option value="monsoon">2038</option>
            <option value="monsoon">2039</option>
            <option value="monsoon">2040</option>
        </select>

        <br>

        <button type="submit" class="btn btn-info btn-sm">
            New Semester
        </button>

    </form>

{% endblock %}