{% extends 'supervisorcore.html' %}
{% load bootstrap %}
{% block content %}

    <h3>Create New Semester</h3>

    <br>

    <form action="{% url 'create_new_semester' %}" method="post">
        {% csrf_token %}

        {{ form }}

        &nbsp;
        &nbsp;
        &nbsp;

        <button type="submit" class="btn btn-info btn-sm">
            New Semester
        </button>

    </form>

    <h4>All Semesters</h4>

    {% for semester in semesters %}

        <form action="{% url 'update-semester' id=semester.id%}" method="post" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ semester.id }}">
            <input type="text" name="label" value="{{ semester.label }}">
            <input type="checkbox" name="show_to_students" {% if semester.show_to_students %} checked {% endif %}>
            <button type="submit">Update Semester</button>
        </form>

        &nbsp;
        &nbsp;
        &nbsp;

        <form action="{% url 'delete-semester' %}" method="post" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ semester.id }}">
            <button type="submit">Delete Semester</button>
        </form>

        <br>
        &nbsp;
        <br>
    {% endfor %}

    <br>

    <p style="text-align: center">
        <strong>DISCLAIMER:</strong> Do NOT delete semesters for which a project is already proposed by someone.
        That will BREAK the system.
    </p>

{% endblock %}