{% extends 'supervisorcore.html' %}
{% block content %}
    <div class="container">
        <h2 class="sub-header">Suggested Organizations</h2>
        <div class="table-responsive">
            {% if notifications %}
                <table class="table table-striped table-hover">
                <thead>
                <td>#</td>
                <td>Name</td>
                <td>link</td>
                <td>Details</td>
                <td>Suggested by</td>
                <td>Actions</td>
                </thead>
                {% for noti in notifications %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td>{{ noti.NGO_name }}</td>
                        <td>{{ noti.NGO_link }}</td>
                        <td>{{ noti.NGO_details }}</td>
                        <td>{{ noti.NGO_sugg_by }}</td>
                        <td><a class="btn btn-warning btn-sm" role="button" href="{% url 'accept_NGO' noti.pk %}">Accept
                            this NGO</a> <a class="btn btn-danger btn-sm" role="button"
                                            href="{% url 'reject_NGO' noti.pk %}">Reject this NGO</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                There are no new suggested Organizations
            {% endif %}
            </table>
        </div>
    </div>
{% endblock %}



