{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Supervisor - CW Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="Dashboard%20Template%20for%20Bootstrap_files/dashboard.css" rel="stylesheet"> -->

  <style type="text/css" id="holderjs-style"></style>
  <style type="text/css">
  .col-sm-offset-3 {
    margin-left: 0%;
  };
  </style>
  </head>
  <body style="padding-top: 70px; padding-bottom: 70px;">
{% block core-header %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">CW Portal - IIITD</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'studenthome' %}">View as Student</a></li>
            <li><a href="{% url 'bugs' %}"> Report bug </a></li>
            <li><a href="{% url 'advance_search' %}">Advance Search</a></li>
            <li><a href="{% url 'supervisor_logout' %}">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/supervisor/basic_search/" method="POST">
            {% csrf_token %}
            
            <input class="form-inline" placeholder="First name / Email / Roll No." type="text" name = "search_query" >
            <span class-"input-group-button">
            <input type='submit' value='Search' class="btn btn-default" />
            </span>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><strong>Community Work</strong></li>
            <li><a href="{% url 'ongoing_projects' 0 %}">Ongoing Projects</a></li>
            <li><a href="{% url 'example_projects' %}">Example Projects</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><strong>Notifications</strong></li>
            <li><a href="{% url 'unverified_projects' %}">New Proposals <span class="badge">{{ request.session.noti_count_proposal|add:"0" }}</span> </a></li>
            <li><a href="{% url 'submitted_projects' %}">Pending Projects <span class="badge">{{ request.session.noti_count_submissions|add:"0" }}</span></a></li>
            <li><a href="{% url 'super_suggested_ngos' %}">New NGOs <span class="badge">{{ request.session.noti_count_NGO|add:"0" }}</span></a></li>
          </ul>
          <ul></ul>
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'super_allprojects' %}">All Projects</a></li>
            <li><a href="{% url 'super_all_NGO' %}">All NGOs</a></li>
            <li><a href="{% url 'super_allcategories' %}">All Categories</a></li>
            <li><a href="{% url 'all_news' %}">All News</a></li>
          </ul>
        </div>
        {% if messages %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <span class="messages">
          {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>{{ message }}</span>
          {% endfor %}
          </div>
          </span>
{% endif %}
{% endblock %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
{% block content %}
{% endblock %}
        </div>
      </div>
    </div>

{% block core-footer %}
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="collapse navbar-collapse" id="head-navbar-collapse-1">
    <div class="container">
    <p class="text-muted credit">Made by <a href="//www.github.com/darkryder/">Sambhav Satija</a> @ <a href="//www.iiitd.ac.in">IIIT-D</a>.</p>
    </div>
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <!-- // <script src="Dashboard%20Template%20for%20Bootstrap_files/docs.js"></script> -->
  
</body></html>