{% extends 'supervisorcore.html' %}
{% block content %}

{% if projects %}
<h2 class="sub-header">Submitted CW Projects</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Student</th>
        <th>Email</th>
        <th>Roll number</th>
        <th>Title</th>
        <th>Credits</th>
      </tr>
    </thead>
    <tbody>
    {% for p in projects %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'super_viewuser' p.student.pk %}">{{ p.student.first_name }} {{ p.student.last_name }}</td>
        <td>{{ p.student.email }}</td>
        <td>{{ p.get_rollno }}</td>
        <td><a href="{% url 'super_viewproject' p.id %}">{{ p.title|truncatechars:60 }}</a></td>
        <td>{{ p.credits }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}