{% extends 'supervisorcore.html' %}
{% block content %}
	<center>
		<h1 class="page-header">{{ student.first_name }} {{ student.last_name}}</h1>
	</center>
		<h3>Email: </h3> 
		<blockquote>{{ student.email }}</blockquote>
<h3>Projects</h3>
	{% if student.projects.all %}
	<blockquote>
	<ul>
	{% for p in student.projects.all %}
		<li><a href = "{% url 'super_viewproject' p.pk %}">
		<strong>{{ p.title|truncatechars:"200" }}</strong>
		</a></li>
		<br />
	{% endfor %}
	</blockquote>
	{% else %}
		No projects started until now.
	{% endif %}
<hr />

{% endblock %}