{% extends 'supervisorcore.html' %}
{% block content %}
	<center>
		<h3>{{ project.title }}</h3>
	</center>
		<h2>Student: </h2><a href="{% url 'super_viewuser' project.student.pk %}"> {{ project.student.first_name }} {{ project.student.last_name }}</a>
		<h2>Roll No. : </h2> {{ project.get_rollno }} 
		<h2>Email: </h2> {{ project.student.email }}
		<h2>Credits: </h2> {{ project.credits }}
		<h2>Proposed on: </h2>{{ project.date_created }}
		<h2>Expected completion date: </h2>{{ project.expected_finish_date }}
		{% if project.NGO %}
			<h2>NGO: </h2><a href="{% url 'super_view_ngo' project.NGO.id %}">{{ project.NGO.name }}</a>.<br /> <strong>This is a verified NGO.</strong>
		{% else %}
			<h2>NGO: </h2>{{ project.NGO_name }}
		{% endif %}
		<h2>Details of NGO: </h2>{{ project.NGO_details }}
		<h2>Working under: </h2>{{ project.NGO_super }}
		<h2>Goals: </h2> {{ project.goals}}
		<h2>Schedule: </h2> {{ project.schedule_text }}

<hr />
	<center><h3>Documents</h3></center>
	{% if project.documents.all %}
	{% for doc in project.documents.all %}
		<strong>{{ doc.category }}: </strong>
		<a href = "{% url 'super_download' doc.id %}">
		{{ doc.name }}</a>

		<br />
	{% endfor %}
	{% else %}
		No logs uploaded till now.
	{% endif %}
<hr />
{% ifequal project.stage "to_be_verified" %}
<a class="btn btn-warning" role="button"  href = "{% url 'verify_project' project.id %}">Verify Project</a>
{% endifequal %}

{% ifequal project.stage "ongoing" %}
<a class="btn btn-danger" role="button"  href = "{% url 'unverify_project' project.id %}">Unverify Project</a>
{% endifequal %}

{% if project.example %}
<a class="btn btn-danger" role="button"  href = "{% url 'removefromexamples' project.example.pk %}">Remove from examples</a>
{% else %}
<a class="btn btn-warning" role="button"  href = "{% url 'addtoexamples' project.pk %}">Add to examples</a>
{% endif %}

<a class="btn btn-info" role="button"  href = "{% url 'super_email_project' project.pk %}">Email student about project</a>

{% if project.submitted_and_awaiting_completion %}
<a class="btn btn-warning" role="button"  href = "{% url 'complete' project.pk %}" style="float:right;">Complete Project</a>
{% endif %}
<a class="btn btn-danger" role="button"  href = "{% url 'super_delete_project' project.pk %}" style="float:right;">Delete Project</a>
{% endblock %}