{% extends 'supervisorcore.html' %}
{% load bootstrap %}
{% block content %}
    <div class="modal fade" id="confirm_delete_ngo_modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="ModalLabel">Delete NGO</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the NGO "{{ NGO.name }}"? You will lose all relationship between
                    projects and this NGO, though not the projects themselves. This action is irrevocable.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'remove_NGO' NGO.pk %}" role="button">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="update_ngo_modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="ModalLabel">Update NGO details</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'super_update_ngo' NGO.pk %}" method="post">{% csrf_token %}
                        {{ form|bootstrap }}
                        <input type="submit" value="Update details" class="btn btn-info btn-lg"
                               style="margin-right:10px; margin-top:10px;"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info " data-toggle="modal" data-target="#update_ngo_modal">Edit NGO details</button>
    <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#confirm_delete_ngo_modal">Delete this
        NGO
    </button>


    <h1 class="sub-header">{{ NGO.name }}</h1>
    <h3> Link</h3>
    <blockquote>
        {% if NGO.link %}
            {{ NGO.link | urlize }}
        {% else %}
            No link.
        {% endif %}
    </blockquote>
    <h3> Description</h3>
    <blockquote>
        {% if NGO.details %}
            {{ NGO.details }}
        {% else %}
            No description.
        {% endif %}
    </blockquote>
    {% if NGO.projects.all %}
        <center><h3>SG/CW Projects mentored by the Organization</h3></center>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Project Title</th>
                    <th>Student</th>
                </tr>
                </thead>
                <tbody>
                {% for p in NGO.projects.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'super_viewproject' p.pk %}"
                               style="text-decoration:none;">{{ p.title|truncatechars:"100" }}</a></td>
                        <td>
                            <a href="{% url 'super_viewuser' p.student.pk %}"
                               style="text-decoration:none;">{{ p.student.first_name }} {{ p.student.last_name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No one has worked with it as of now.
    {% endif %}
{% endblock %}
